
caption {
    border-top: #000000 2px solid;
    border-left: #000000 2px solid;
    border-right: #000000 2px solid;
    background-color: #1a4d80;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

table {
    border: #000000 2px solid;
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
}

thead th {
    background-color: #5c87b3;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 200;
}
td:nth-child(1), th:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

tfoot {
    font-weight: bold;
    border: 2px solid #000000;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}
td, th {
    text-align: right;
    padding-right: 10px;
}